html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/*header*/

header#mainheader {
  width: 100%;
  height: 100%;
  background-image: url(../pictures/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  section#menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgba(52, 52, 52, 0.95);

    figure {
      display: block;
      margin: 0;
      padding-left: 2px;

      * {
        display: inline-block;
        margin: 0;
        height: 64px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;

        li {
          list-style-type: none;
          padding-inline-start: 0;
          display: inline-block;
          font-size: 1.75em;
          margin: auto 0.5em;

          a {
            color: #fdfdfd;

            &:hover {
              text-shadow: 0 0 2px #e4e4e4;
            }
          }
        }
      }

      input#menubox {
        display: none;
      }

      label {
        display: none;
        cursor: pointer;
      }
    }
  }

  div.arrow {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 16px);
    animation: arrowmove 2s linear infinite;

    a img {
      width: 32px;
      height: 32px;
    }
  }

  h2.title {
    color: white;
    font-size: 4em;
    display: block;
    position: absolute;
    top: 14%;
    right: 14%;
  }
}

@media screen and (max-width: 870px) {
  header#mainheader section#menu nav {
    ul {
      display: none;
    }

    label {
      display: block;
      width: 3em;
      height: 3em;
      margin-right: 0.5em;

      img {
        &:first-child {
          display: block;
          transition: transform 1s ease-in;

          &:hover {
            transform: rotate(45deg);
          }
        }

        &:last-child {
          display: none;
        }
      }
    }

    :checked {
      + label img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
          width: 3em;
          height: 3em;
          transition: transform 0.5s ease-in-out;

          &:hover {
            transform: rotate(45deg);
          }
        }
      }

      ~ ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        background-color: rgba(52, 52, 52, 0.95);
        backdrop-filter: blur(12px);
        z-index: 2;
        left: 0;
        top: 3em;
        width: 100%;
        height: fit-content;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        li {
          margin: 10px;
          text-align: center;
          font-size: 2em;

          &:first-child {
            margin-top: 1em;
          }

          &:after {
            content: "";
            width: 70%;
            height: 2px;
            display: block;
            background-color: #fdfdfd;
            margin: 10px auto;
          }
        }
      }
    }
  }
}

@keyframes arrowmove {
  40% {
    bottom: 12px;
  }

  100% {
    bottom: 0px;
  }
}

@media screen and (max-width: 870px) {
  header#mainheader h2.title {
    font-size: 2.5em;
  }
}

/* card zone  */

main.card-zone {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #fdfdfd00;

  article.card {
    width: 330px;
    height: 450px;
    background-color: rgb(52, 52, 52);
    margin: 20px;
    border-radius: 4px;
    border: 1px solid rgb(52, 52, 52);
    box-shadow: 2px 2px 5px 0px rgb(52, 52, 52);
    overflow: hidden;

    .card-link {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .card-content {
        width: 100%;
        height: 160px;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        background-color: #ffffff10;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: -120px;
        transition: bottom 2s ease-out;
      }

      &:hover .card-content {
        bottom: 0px;
      }

      .card-content {
        * {
          margin: 0;
          padding: 0;
        }

        h2 {
          font-size: 2em;
          color: #fdfdfd;
        }

        ul li {
          font-size: 1.5em;
          color: #fdfdfd;
        }
      }
    }
  }
}

#INF {
  background-image: url(../pictures/head.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*   about   */

section {
  &#about {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    article {
      width: 90%;
      padding: 0 5%;

      h2 {
        font-size: 2.5em;
        text-align: center;
      }

      p {
        text-indent: 1em;
        font-size: 1.75em;
        word-spacing: 2px;
        word-break: keep-all;
        text-align: justify;
      }
    }
  }

  &#contacts {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    article {
      width: max-content;

      div {
        width: max-content;
        height: max-content;
        padding: 1em;

        h2 {
          font-size: 2em;
        }

        ul li {
          font-size: 2em;

          a {
            color: #000;
            font-style: italic;

            &:hover {
              opacity: 0.75;
            }
          }

          span {
            font-style: italic;
            overflow-wrap: break-word;
          }
        }
      }
    }

    address iframe {
      width: 650px;
      height: 450px;
    }
  }
}

@media screen and (max-width: 480px) {
  section#about article {
    p {
      font-size: 1.25em;
    }

    h2 {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 660px) {
  section#contacts {
    address iframe {
      width: 400px;
      height: 300px;
    }

    article div {
      ul li, h2 {
        font-size: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  section#contacts {
    address iframe {
      width: 310px;
      height: 225px;
    }

    article div {
      ul li, h2 {
        font-size: 1.25em;
      }
    }
  }
}

/*  footer  */

footer#mainfooter {
  width: 100%;
  height: fit-content;
  background-color: rgb(52, 52, 52);
  display: flex;
  flex-direction: column;
  justify-content: center;

  nav#footnav {
    display: flex;
    justify-content: space-around;

    ul {
      list-style-type: none;
      padding-inline-start: 0px;
      display: flex;
      flex-wrap: wrap;

      li {
        display: inline-block;
        margin: auto 1em;

        a {
          color: #fdfdfd;
          font-size: 2em;

          &:hover {
            text-shadow: 0 0 2px #e4e4e4;
          }
        }
      }
    }
  }

  p {
    color: #fdfdfd;
    text-align: center;
  }

  address#socialmediarefs {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      width: 7vh;
      height: 7vh;
      margin: auto 1em;
    }
  }
}

@media screen and (max-width: 600px) {
  footer#mainfooter nav#footnav ul li a {
    font-size: 1.25em;
  }
}

div.separator {
  background-color: rgba(69, 69, 69, 0.3);
  width: 96%;
  margin: 1em auto;
  height: 3px;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat"), url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}