html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserat";
  }
  
  a {
    text-decoration: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* HEADER  */
  
  header#mainheader {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(103, 103, 103);
    display: flex;
    flex-direction: column;
    background-position: center;
  }

  .INF {
    background-image: url(../pictures/head.jpg);
  }
  
  header#mainheader {
    section#menu {
      display: flex;
      flex-direction: row;
      position: fixed;
      z-index: 100;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      height: fit-content;
      background-color: rgba(52, 52, 52, 0.95);
  
      figure {
        display: block;
        margin: 0;
  
        * {
          display: inline-block;
          margin: 0;
          height: 64px;
        }
      }
  
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        ul {
          display: flex;
          flex-direction: row;
          padding-inline-start: 0;
  
          li {
            list-style-type: none;
            padding-inline-start: 0;
            display: inline-block;
            font-size: 1.75em;
            margin: auto 0.5em;
  
            a {
              color: #fdfdfd;
  
              &:hover {
                text-shadow: 0 0 2px #e4e4e4;
              }
            }
          }
        }
  
        input#menubox {
          display: none;
        }
  
        label {
          display: none;
          cursor: pointer;
        }
      }
    }
  
    div.arrow {
      position: absolute;
      bottom: 0px;
      left: calc(50% - 16px);
      animation: arrowmove 2s linear infinite;
  
      a img {
        width: 32px;
        height: 32px;
      }
    }
  
    h2.title {
      color: white;
      font-size: 4em;
      display: block;
      position: absolute;
      top: 14%;
      right: 14%;
    }
  }
  
  @media screen and (max-width: 870px) {
    header#mainheader section#menu nav {
      ul {
        display: none;
      }
  
      label {
        display: block;
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
  
        img {
          &:first-child {
            display: block;
            transition: transform 1s ease-in;
  
            &:hover {
              transform: rotate(45deg);
            }
          }
  
          &:last-child {
            display: none;
          }
        }
      }
  
      :checked {
        + label img {
          &:first-child {
            display: none;
          }
  
          &:last-child {
            display: block;
            width: 3em;
            height: 3em;
            transition: transform 1s ease-in;
  
            &:hover {
              transform: rotate(45deg);
            }
          }
        }
  
        ~ ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          justify-content: space-around;
          background-color: rgba(52, 52, 52, 0.95);
          z-index: 2;
          left: 0;
          top: 51px;
          width: 100%;
          height: fit-content;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
  
          li {
            margin: 10px;
            text-align: center;
            font-size: 2em;
  
            &:first-child {
              margin-top: 1em;
            }
  
            &:after {
              content: "";
              width: 70%;
              height: 2px;
              display: block;
              background-color: #fdfdfd;
              margin: 10px auto;
            }
          }
        }
      }
    }
  }
  
  @keyframes arrowmove {
    40% {
      bottom: 12px;
    }
  
    100% {
      bottom: 0px;
    }
  }
  
  @media screen and (max-width: 870px) {
    header#mainheader h2.title {
      font-size: 2.5em;
    }
  }
  
  /* INFO */
  
  main.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  
    section {
      &.short-info {
        flex: 1 1 400px;
        padding: 20px;
        margin: auto;
        justify-self: center;
  
        ul {
          padding: 20px;
  
          li {
            font-size: 1.5em;
            margin-left: 20px;
            word-break: keep-all;
            text-align: justify;
  
            > * {
              font-style: italic;
            }
  
            a {
              color: #000;
  
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
  
      &.long-info {
        flex: 1 1 500px;
        padding: 20px;
  
        h2 {
          font-size: 2em;
          text-align: center;
          white-space: nowrap;
        }
  
        p {
          font-size: 1.25em;
          word-spacing: 10px;
          word-break: keep-all;
          text-align: justify;
        }
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    main.info section.short-info ul li {
      font-size: 1.5em;
    }
  }
  
  /* Info-list  */
  
  section#info {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: fit-content;
  
    article {
      &.slide {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: flex-end;
      }
  
      &.left {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
      }
  
      &.slide {
        div.contentbox {
          width: 500px;
          height: fit-content;
          padding: 1em;
  
          h2 {
            font-size: 2em;
          }
  
          p {
            font-size: 1.5em;
            text-align: justify;
          }
        }
  
        figure {
          all: unset;
          width: 600px;
          height: fit-content;
  
          img {
            width: 600px;
            height: 450px;
            border-radius: 4px;
            overflow: hidden;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1080px) {
    section#info article.slide {
      div.contentbox {
        width: 400px;
        height: fit-content;
      }
  
      figure {
        width: 400px;
        height: fit-content;
  
        img {
          width: 400px;
          height: 300px;
        }
      }
    }
  }
  
  @media screen and (max-width: 425px) {
    section#info article.slide {
      div.contentbox {
        width: 300px;
        height: fit-content;
      }
  
      figure {
        width: 300px;
        height: fit-content;
  
        img {
          width: 300px;
          height: 225px;
        }
      }
    }
  }
  
  /*  footer  */
  
  footer#mainfooter {
    width: 100%;
    height: fit-content;
    background-color: rgba(52, 52, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    nav#footnav {
      display: flex;
      justify-content: space-around;
  
      ul {
        list-style-type: none;
        padding-inline-start: 0px;
        display: flex;
        flex-wrap: wrap;
  
        li {
          display: inline-block;
          margin: auto 1em;
  
          a {
            color: #fdfdfd;
            font-size: 2em;
          }
        }
      }
    }
  
    p {
      color: #fdfdfd;
      text-align: center;
    }
  
    address#socialmediarefs {
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      img {
        width: 7vh;
        height: 7vh;
        margin: auto 1em;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    footer#mainfooter nav#footnav ul li a {
      font-size: 1.25em;
    }
  }
  
  div.separator {
    background-color: rgba(69, 69, 69, 0.3);
    width: 96%;
    margin: 1em auto;
    height: 3px;
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: local("Montserrat"), url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  }